DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="generate-and-paste"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID="placeholder"
GOOGLE_CLIENT_SECRET="placeholder"
MAILGUN_API_KEY="placeholder"
MAILGUN_DOMAIN="placeholder"
MAILGUN_FROM_EMAIL="takumistudio26@gmail.com"
